@import "../css/normalize.css";
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #808080;
  max-width: 100vw;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.scroll-control {
  overflow: hidden;
}

.container {
  padding: 0 10vw;
  margin: 0 auto;
  position: relative;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: #ff6800;
  font-weight: 600;
  font-size: 14px;
  line-height: 47px;
  background-color: #fff;
  width: 165px;
  height: 55px;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
  font-size: 16px;
  transition: 0.2s ease all;
}

.main-header {
  background: url("../img/header__background.png") no-repeat top center;
  background-size: 100% 100%;
  margin-bottom: 60px;
}
.main-header .main-header__container {
  height: 80vh;
}
.main-header .main-header__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 80px;
}
.main-header .main-header__menu {
  cursor: pointer;
}
.main-header .main-header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .hello-img {
  width: 550px;
  height: 490px;
}
.main-header .hello-content__text {
  font-weight: 600;
  font-size: 42px;
  line-height: 72px;
  color: #fff;
  max-width: 450px;
  margin: 0 0 25px 0;
}
.main-header .main-header__nav-menu {
  width: 30px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.main-header .main-header__nav-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  right: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.main-header .main-header__nav-menu span:nth-child(1) {
  top: 0px;
  width: 24px;
  transform-origin: left center;
}
.main-header .main-header__nav-menu span:nth-child(2) {
  top: 6px;
  transform-origin: left center;
}
.main-header .main-header__nav-menu span:nth-child(3) {
  top: 12px;
  width: 24px;
  transform-origin: left center;
}
.main-header .main-header__nav-menu span:nth-child(4) {
  top: 18px;
  transform-origin: left center;
}
.main-header .main-header__nav-menu.open {
  transform: rotateZ(450deg);
}
.main-header .nav-list-wrapper {
  background-color: transparent;
  transition: all ease 0.7s;
  color: #fff;
}
.main-header .hidden {
  top: 0;
  left: 20vw;
}
.main-header .main-header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.main-header .main-header__nav-item {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  transition: 0.5s all ease;
}
.main-header .main-header__nav-item:hover {
  color: #ff6600;
  padding: 0 0.8em;
  background-color: #fff;
  border-radius: 15px;
}

.features__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features__container .features__block-name {
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 6px;
}
.features__container .features__text {
  margin-bottom: 32px;
}
.features__container .features__content {
  display: flex;
  margin-bottom: 60px;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
}
.features__container .features__content .features__content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  border-radius: 15px;
  background-color: #fafafa;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.features__container .features__content .features__content-block img {
  margin: 40px 0 25px;
}
.features__container .features__content .features__content-block h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 12px;
  padding: 0 30px;
}
.features__container .features__content .features__content-block p {
  margin-bottom: 40px;
  padding: 0 30px;
}

#video {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}
#video-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}
#video-play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s ease;
  transition-property: opacity, visibility;
}
#video-play:hover::before {
  transform: scale(1.2);
}
#video video {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px;
}
#video.video-is-playing #video-over {
  display: block;
}
#video.video-is-playing #video-play {
  opacity: 0;
  visibility: hidden;
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__container .testimonials__headline {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #000;
}
.testimonials__container .testimonials__headline-text {
  margin-bottom: 30px;
}
.testimonials__container .testimonials__content {
  display: flex;
  gap: 35px;
  padding-bottom: 50px;
}
.testimonials__container .testimonials__item {
  display: none;
  width: 380px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: #fff;
}
.testimonials__container .testimonials__item_show {
  display: block;
}
.testimonials__container .testimonials__item:before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(35deg, #ff6800, #ff1f00);
  border-radius: 17px;
  z-index: -1;
}
.testimonials__container .blockquote {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__container .blockquote__text {
  text-align: center;
  margin-bottom: 24px;
}
.testimonials__container .blockquote__quote-owner-info {
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 30px 30px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
}
.testimonials__container .blockquote__photo {
  grid-row: 1/3;
}
.testimonials__container .blockquote__name {
  color: #000;
}
.testimonials__container .blockquote__post {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
}
.testimonials__container .testimonials__slider {
  display: flex;
  gap: 24px;
  margin-bottom: 60px;
}
.testimonials__container .testimonials__slider-item {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
}
.testimonials__container .slider-item_active {
  background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
  cursor: pointer;
}

.skill-bars {
  background: url("../img/skill-bars__background.png") no-repeat center;
  background-size: 100% 100%;
}
.skill-bars .skill-bars__container {
  display: flex;
  padding: 60px 10vw;
  justify-content: space-between;
  align-items: center;
}
.skill-bars .skill-bars__img-mobile {
  display: none;
}
.skill-bars .skill-bars__content {
  max-width: 490px;
  color: #cccccc;
}
.skill-bars .skill-bars__headline {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 10px;
}
.skill-bars .skill-bars__text {
  margin-bottom: 40px;
}
.skill-bars .skill-bars__list {
  max-width: 380px;
}
.skill-bars .skill-bars__item {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.skill-bars .skill-bars__item .bar {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #ffe0cb;
  height: 8px;
  border-radius: 1000px;
}
.skill-bars .skill-bars__item .bar:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 75%;
  background: linear-gradient(90deg, #ff6800 0%, #ff1f00 100%);
  border-radius: 1000px;
}
.skill-bars .skill-bars__item .bar-animation:before {
  -webkit-animation: bar 3s ease;
          animation: bar 3s ease;
}
.skill-bars .skill-bars__item:nth-child(2) .bar:before {
  width: 90%;
}
.skill-bars .skill-bars__item:nth-child(3) .bar:before {
  width: 50%;
}
@-webkit-keyframes bar {
  from {
    width: 0;
  }
}
@keyframes bar {
  from {
    width: 0;
  }
}

.faq__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 40px 0;
}
.faq__container .faq__content {
  max-width: 500px;
}
.faq__container .faq__headline {
  color: #000000;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 5px;
}
.faq__container .faq__text {
  margin-bottom: 20px;
}
.faq__container .faq__list {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.faq__container .faq__item {
  max-width: 100%;
  padding: 15px 45px 15px 18px;
  background: linear-gradient(90deg, #FF6800 0%, #FF1F00 100%);
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease;
}
.faq__container .faq__img {
  width: 590px;
  height: 520px;
}
.faq__container .faq__item:hover {
  font-size: 1.1em;
}
.faq__container .faq__item:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  right: 23px;
}
.faq__container .faq__item:after {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  right: 23px;
  transform: rotate(90deg);
}
.faq__container .faq__item:hover:after,
.faq__container .faq__item:hover:before {
  height: 4px;
  transition: all 0.1s ease;
  width: 16px;
  top: 49% px;
  right: 22px;
}
.faq__container .faq__question {
  color: #fff;
}
.faq__container .faq__answer {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.faq__container .faq__item_show {
  background: #fff;
  position: relative;
  border-radius: 15px;
  border: #ff6800 solid 2px;
}
.faq__container .faq__item_show:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  background-color: #000;
  top: 50%;
  right: 23px;
  z-index: 1;
}
.faq__container .faq__question_show {
  color: #333333;
  margin-bottom: 20px;
}
.faq__container .faq__answer_show {
  color: #808080;
  display: block;
}

.contacts {
  background: center no-repeat url("../img/contacts_background.png");
  background-size: 100% 100%;
}
.contacts .contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 95px 0;
}
.contacts .contacts__headline {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 16px;
  color: #fff;
  max-width: 460px;
  text-align: center;
}

.main-footer {
  height: 75px;
  background: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-footer .main-footer__text {
  color: #fff;
}

@media (max-width: 1250px) {
  .skill-bars__container {
    flex-direction: column;
  }
  .skill-bars__headline {
    text-align: center;
  }
  .skill-bars__text {
    text-align: center;
  }
  .skill-bars__img {
    display: none;
  }
  .skill-bars__img-mobile {
    display: block !important;
  }
  .skill-bars__list {
    margin: 0 auto;
  }
  .testimonials__item_show:nth-child(3) {
    display: none;
  }
  .features__container .features__content .features__content-block {
    width: 300px;
  }
}
@media (max-width: 1000px) {
  .features__content {
    flex-direction: column;
    row-gap: 30px;
  }
  .main-header .main-header__container {
    min-height: 100vh;
    height: auto;
  }
  .main-header__content-wrapper {
    flex-direction: column;
  }
  .hello-content {
    text-align: center;
    max-width: 360px;
    margin-bottom: 80px;
  }
  .main-header .hello-img {
    width: 380px;
    height: 340px;
  }
  .main-header .nav-list-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff6600;
    display: flex;
    justify-content: center;
  }
  .main-header .main-header__nav-list {
    flex-direction: column;
    justify-content: center;
  }
  .faq__container {
    flex-direction: column;
  }
  .faq__container .faq__headline, .faq__container .faq__text {
    text-align: center;
  }
  .faq__container .faq__img {
    width: 380px;
    height: 380px;
  }
}
@media (max-width: 850px) {
  .testimonials__item_show:nth-child(2) {
    display: none;
  }
  .main-header {
    background-size: auto 100%;
  }
  .skill-bars {
    background: url("../img/skill-bars__background-mobile.png") no-repeat center;
    background-size: 100% 100%;
  }
}
@media (max-width: 550px) {
  .contacts .contacts__headline {
    max-width: 300px;
  }
  .container {
    padding: 0 5vw;
  }
  .testimonials__container .testimonials__item {
    width: auto;
    max-width: 380px;
  }
  .testimonials__container .testimonials__headline-text,
.features__container .features__text {
    text-align: center;
  }
  .contacts {
    background: center no-repeat url("../img/contacts_background-mobile.png");
    background-size: 100% 100%;
  }
}