@import "../css/normalize.css";
body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #808080;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 10vw;
  margin: 0 auto;
  position: relative;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: #FF6800;
  font-weight: 600;
  font-size: 14px;
  line-height: 47px;
  background-color: #fff;
  width: 165px;
  height: 55px;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
  font-size: 16px;
  transition: 0.2s ease all;
}

.main-header {
  background: url("../img/header__background.png") no-repeat top center;
  background-size: 100% 100%;
}
.main-header .main-header__container {
  height: 80vh;
}
.main-header .main-header__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 80px;
}
.main-header .main-header__menu {
  cursor: pointer;
}
.main-header .main-header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .hello-img {
  width: 550px;
  height: 490px;
}
.main-header .hello-content__text {
  font-weight: 600;
  font-size: 42px;
  line-height: 72px;
  color: #fff;
  max-width: 450px;
  margin: 0 0 25px 0;
}
.main-header .main-header__nav-menu {
  width: 30px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.main-header .main-header__nav-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  right: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.main-header .main-header__nav-menu span:nth-child(1) {
  top: 0px;
  width: 24px;
  transform-origin: left center;
}
.main-header .main-header__nav-menu span:nth-child(2) {
  top: 6px;
  transform-origin: left center;
}
.main-header .main-header__nav-menu span:nth-child(3) {
  top: 12px;
  width: 24px;
  transform-origin: left center;
}
.main-header .main-header__nav-menu span:nth-child(4) {
  top: 18px;
  transform-origin: left center;
}
.main-header .main-header__nav-menu.open {
  transform: rotateZ(450deg);
}
.main-header .nav-list-wrapper {
  background-color: transparent;
  transition: all ease 0.7s;
  color: #fff;
}
.main-header .hidden {
  transform: translateY(-300%);
  position: block;
  top: 0;
  left: 20vw;
}
.main-header .main-header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.main-header .main-header__nav-item {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  transition: 0.5s all ease;
}
.main-header .main-header__nav-item:hover {
  color: #ff6600;
  padding: 0 0.8em;
  background-color: #fff;
  border-radius: 15px;
}